@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>

    <Authorized>
        <button @onclick="@LogUsername">Write user info to console</button>
        <p>@_authMessage</p>
        
        <p>@_userId</p>
    </Authorized>
    <NotAuthorized>
        <p>Annonymus user</p>
    </NotAuthorized>


</AuthorizeView>

@code {

    string _authMessage = "";

    string _userId = "";

    private async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";

            _userId = $"User Id: {user.FindFirst(c => c.Type == "UserId")?.Value}";
           
        }
        else
        {
            _authMessage = ("The user is NOT authenticated.");
        }
    }
}

